.entire-container{
    width: 65%;
  }
  
  .selected-User {
   
    
  
  display: flex;
      flex-direction: column;
      background-color: lightgreen;
      padding-right: 10px;
      margin: 10px;
      margin-left: 0px;
      height: 15%;
      align-items: center;
      border-radius: 14px;
      margin-top: 10%;
  
  
  
  }
  
  .selected-User h3{
    margin: 10px;
    margin-left: 30px;
    width: 100%;
    align-items: center;
    display: inline-flex;
  
  }
  
  
  .chat-container {
     
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: lightgreen;
    padding-right: 10px;
    margin: 10px;
    margin-left: 0px;
    height: 70%;
    border-radius: 14px;
      
    }
  
    
  .chat-messages{
      
      height: 90%;
     
     
      
      overflow-x: scroll
    }
    .chat-messages::-webkit-scrollbar {
      width: 0px; /* Set the width of the scrollbar */
    }
    .chat-text{
      background-color: #f2f2f2;
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
    }
    
    .chatdiv{
      position: absolute;
      overflow-y: auto;
      height: 370px;
    }
    
    .chat-input{
      width: 80%;
      height: 100%;
      border-radius: 10px;
      background-color: #f3f7f373;
    
    }
    .send-button{
      border-radius: 5px;
      width: 10%;
      height: 100%;
      
    }
    .message{
      margin:10px;
      color:green;
    }
  
    .user-message {
      display: flex;
      flex-direction: row-reverse; /* Align user messages to the right */
      background-color: #e0ffff96;
      border-radius: 15px;
      padding: 13px; /* Add padding for better appearance */
      max-width: 90%; /* Adjust maximum width for responsiveness */
      word-wrap: break-word; /* Allow long words to break into the next line */
      position:relative
    }
    
    .sender-message {
      display: flex;
      background: lightgoldenrodyellow;
      border-radius: 15px;
      padding: 10px; /* Add padding for better appearance */
      max-width: 90%; /* Adjust maximum width for responsiveness */
      word-wrap: break-word; /* Allow long words to break into the next line */
    }
  .profile-pic {
    left: 100%;
    margin: 9px;
    position: absolute;
    bottom: 24%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .contact-profile-pic {
   
    left: 100%;
    margin: 9px;
    top: 24%;
  }
  .message .timestamp {
    flex-direction: column;
      display: flex;
  
  }
  .timestamp-doubleticks{
    flex-direction: row;
    display: flex;
    font-size: smaller;
    position: absolute;
    right: 21%;
    bottom: 5%;
  }
  .timestamp{
    flex-direction: column-reverse;
      font-size: smaller;
  }
  
  
  .grayticks{
    padding: 0px;
    margin: 0px;
    color:gray;
    margin-left: 20px;
  
  }
  .blueticks{
    padding: 0px;
    margin: 0px;
    margin-left:20px;
    color:blue
  }
  
  .message_input{
  height:36px;
  height: 35px;
      margin: 10px;
  }