.sidebar{
       z-index: 3;
    position: fixed;
   
    background-color: beige;
   
    width: 6.5vh;
    left: 40px;
    top: 20vh;
    border-radius: 20px;

}
.allIcons{

    align-items: center;
    display: flex;
    flex-direction: column;
    


}

.icons{
    width: 25px;
    height: 35px;
    padding: 25px;
}