.subscribe{
    background-image: url(../../../assets/images/subscribe-bg.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 85%;
    margin: 95px auto;
    border-radius: 32px;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.subscribe h2{
    color: var(--MRT-App-Headline, #1B1C57);
    text-align: center;
    font-family: Lexend;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 150% */
    text-transform: capitalize;
    width: 35%;
}
.subscribe-input{
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
    display: flex;
    padding: 4px 4px 4px 24px;
    align-items: center;
    gap: 16px;
    width: 40%;
}
.subscribe-input input{
    color: var(--Neutral-500, #888B97);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    flex: 1;
}

@media (max-width: 900px) {
    .subscribe{
        width: 90%;
        background-image: url(../../../assets/images/small-sub.png);
        padding: 10px;
    }
    .subscribe h2{
        font-size: 26px;
        width: 100%;
    }
    .subscribe-input{
        width: 100%;
    }
    .subscribe-input input{
        width: 60%;
    }
}