.EntireSearchBar{
    background-color: whitesmoke;
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 50px;
    left: 25vw;
    border-radius : 20px;



    background-color: whitesmoke;
    position: absolute;
    z-index: 4;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 10px;
    left: 15vw;
    border-radius: 20px;
}
.search-bar {
    
    display: flex;
    gap: 1px;
    margin: 7px;
  }
  
  .search-bar input,
  .search-bar select {
    padding: 8px;
    
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 20px;
   
   
    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: #55efa0;
    color: #000;
  }
  
  .search-bar button:hover {
    background-color: #45a049;
  }

  