.hero {
  display: flex;
  justify-content: space-between;
}
.hero-left_gradient{
    background-color: #0CF979;
    opacity: 0.3;
    filter: blur(60px);
    width: 258px;
    height: 314px;
    transform: rotate(90deg);
    flex-shrink: 0;
    position: absolute;
    top: 50px;
    z-index: -1;
}
.hero-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  position: relative;
  /* border: 1px solid green; */
}
.hero-left h1{
    color: var(--MRT-App-Headline, #1B1C57);
    font-family: Lexend;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
/* .hero-left h1 span{

} */
.hero-left p{
    color: var(--MRT-App-Neutral-01, #626687);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 40px 0 20px;
    width: 90%;
    align-self: flex-start;
    line-height: 28px; /* 175% */
}
.hero-input{
    width: 95%;
    border-radius: 32px;
    border: 1px solid var(--Neutral-300, #E0E3EB);
    background: #FFF;
    display: flex;
    padding: 4px 4px 5px 24px;
    align-items: center;
    align-self: flex-start;
    gap: 16px;
}

.hero-input input[type='text']{
    border-radius: 0;
    border-color: transparent;

}
.hero-input input{
    width: 80%;
}
.hero-right {
  width: 60%;
  position: relative;
  /* border: 1px solid red; */
}
.hero-right_thumbnail {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  width: 95%;
  bottom: 20px;
  left: 20px;
}
.each-thumb {
  display: inline-flex;
  padding: 24px;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 11px 48px 0px rgba(51, 51, 51, 0.06);
}
.thumb-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.thumb-text h4{
    color: var(--MRT-App-Headline, #1B1C57);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.thumb-text p{
    color: var(--MRT-App-Subheadline, #68799F);
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media (max-width: 900px) {
    .hero{
        padding-top: 30px;
    }
    .hero-right{
        display: none;
    }
    .hero-left{
        width: 95%;
        margin: 0 auto;
        padding-left: 0;
    }
    .hero-left h1{
        font-size: 35px;
        width: 100%;
        text-align: center;
    }
    .hero-left_gradient{
        top: 0;
    }
    .hero-input{
        width: 100%;
    }
    .hero-left p{
        font-size: 15px;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
}
