*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Lexend', sans-serif;
}
p, input, button, select, textarea{
  font-family: 'Lexend', sans-serif;
}
input,button,select,textarea{
  border: none;
  outline: none;
  background: transparent;
}

