
.user-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 30vh;
    background: lightgreen;
    height: 80%;
    margin-top: 40px;
    border-radius: 15px;
    right: 10px;
    position: absolute;
    overflow: scroll;
  }
  .user-profile::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
  }
  
  .profile-header {
    text-align: center;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-name {
    margin-top: 10px;
  }
  
  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    margin-top: 20px;
    overflow: auto;
    overflow-wrap: normal;
    justify-content: space-between;
    max-width: 100%;
    gap: 5px;
  }


  .photo {
    max-width: 90px;
    margin-bottom: 16px;
    position: relative;
    border-radius: 10px;
    ox-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
  }
  
  .photo img {
    width: 100%;
    border-radius: 8px;
    border-radius: 10px;
    object-fit: cover;
    border: none;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }




  
  .reviews {
    margin-top: 20px;
    overflow: scroll;
    max-height: 90px;
  }

  .reviews::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
  }
  
  .review {
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
  }
  
  .rating {
    font-size: 20px;
    color: #ffcc00;
  }
  