
.listPropertybtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.listPropertymodal {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;

}

.listPropertymodal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.instructions {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.listPropertybtn {
  /* Add button styling */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.connect:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

  