
.listPropertybtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}



.nav-button-style {
  min-width: 80px;
   padding: 10px;
   margin-bottom: 10px;
   background-color: #55efa0;
   color: black;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   position: relative;
   z-index: 2;
  
   top:0px;
   justify-content: center;
   align-items: center;
 
   display: flex;
   
 
   box-shadow: 0 2px 15px rgba(17,152,194,.5);
   color: #00030c;
   cursor: pointer;
   font-size: 14px;
   font-weight: 700;
   
 }
 
 


.listPropertymodal {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;

}

.listPropertymodal-content {
  background-color: #55efa0;
  padding: 20px;
  border: 1px solid #fdfffd00;
  border-radius: 10px;
  box-shadow: 0 2px 15px #00000078;
  position: absolute;
}

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.instructions {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.listPropertybtn {
  /* Add button styling */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.connect:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

  