/* ImageSlider.css */

.image-slider-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .image-slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  