
.nav-bar{
    position: absolute;
    width: 90%;
    left: 7.5%;
    /* border: 1px solid red; */
    padding: 10px 0;
    display: flex;
    gap: 40%;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    /* border: 1px solid purple; */
}
.mobile-nav{
    display: none;
}
.nav-links{
    display: flex;
    /* border: 1px solid red; */
    gap: 50px;
}
.nav-links ul{
    list-style: none;
}

.signup{
    background: var(--green-100, #D1FAE5) !important;
}


@media (max-width: 900px) {
    .mobile-nav{
        display: block;
        width: 95%;
        margin: 0 auto;
        /* border: 1px solid red; */
        padding: 10px 0;
        position: absolute;
        z-index: 3;
    }
    .nav-bar{
        display: none;
    }
    .mobile-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-menu{
        width: 70vw;
        position: fixed;
        top: 0;
        right: 0;
        /* border: 1px solid red; */
        padding: 0 20px;
        z-index: 3;
        background: rgba(130, 187, 255, 0.21);
    }
    .nav-links{
        flex-direction: column;
        display: inline-flex;
        margin: 10px 0;
        gap: 20px;
    }
    .close-icon{
        padding: 10px 0;
        display: flex;
        justify-content: flex-end;
    }
}
















